<link href="__PUBLIC__/home/css/datepicker3.css" rel="stylesheet">
<link href="__PUBLIC__/home/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
<link href="__PUBLIC__/home/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
<link href="__PUBLIC__/home/css/animate.min.css" rel="stylesheet">
<link href="__PUBLIC__/home/css/style.min.css?v=4.0.0" rel="stylesheet">
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="panel panel-primary">
        <div class="panel-heading">
            修改资料
        </div>
        <div class="panel-body">
            <form action="" class="form-horizontal" method="post">
                <input type="hidden" name="do" value="update">
                <br>
                <div class="line line-dashed line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-id-1">性别</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-venus-mars"></i></span>
                        <select class="form-control m-b" name="sex">
                            <option value="男孩纸">男孩纸</option>
                            <option value="女孩纸">女孩纸</option>
                            <option value="未知性别">未知性别</option>
                        </select>
                    </div>
                </div>
                <div class="line line-dashed line-lg pull-in"></div>
                <div class="form-group" id="data_1">
                    <label class="col-sm-2 control-label">生日</label>
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" class="form-control" value="{$person.birth}" name="birth" readonly>
                    </div>
                </div>
                <div class="line line-dashed line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-id-1">住址</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-home"></i></span>
                        <input type="text" class="form-control" name="city" value="{$person.city}">
                    </div>
                </div>
                <div class="line line-dashed line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-id-1">联系电话</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                        <input type="text" class="form-control" name="phone" value="{$person.phone}">
                    </div>
                </div>
                <div class="line line-dashed line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-id-1">邮箱</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-mail-forward"></i></span>
                        <input type="text" class="form-control" name="mail" value="{$person.mail}">
                    </div>
                </div>
                <div class="line line-dashed line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-id-1">QQ</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-qq"></i></span>
                        <input type="text" class="form-control" name="qq" value="{$person.qq}">
                    </div>
                </div>
                <div class="form-group">
                    <div align="center">
                        <button type="submit" class="btn btn-primary">确定修改</button>
                    </div>
                </div>
                <div class="line line-dashed line-lg pull-in"></div>
            </form>
        </div>
    </div>
</div>
<script src="__PUBLIC__/home/js/jquery.min.js?v=2.1.4"></script>
<script src="__PUBLIC__/home/js/demo/form-advanced-demo.min.js"></script>
<script src="__PUBLIC__/home/js/plugins/cropper/cropper.min.js"></script>
<script src="__PUBLIC__/home/js/plugins/datapicker/bootstrap-datepicker.js"></script>
<script src="__PUBLIC__/home/js/bootstrap.min.js?v=3.3.5"></script>
<script src="__PUBLIC__/home/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="__PUBLIC__/home/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="__PUBLIC__/home/js/plugins/layer/layer.min.js"></script>
<script src="__PUBLIC__/home/js/hplus.min.js?v=4.0.0"></script>
<script type="text/javascript" src="__PUBLIC__/home/js/contabs.min.js"></script>
<script src="__PUBLIC__/home/js/plugins/pace/pace.min.js"></script>