{include file='home/base/header' /}
 <body class="gray-bg">
<div class="wrapper wrapper-content">
     <div class="row animated fadeInRight">
            <div class="col-sm-4">
                <div class="ibox float-e-margins">

                    <div>
                        <div class="widget-head-color-box navy-bg p-lg text-center">
                            <img alt="image" class="img-circle m-t-xs img-responsive" src="http://q1.qlogo.cn/g?b=qq&nk={$user.qq}&s=160">
                        </div>
                        <div class="ibox-content profile-content">
                            <h4><strong>{$user.name}</strong></h4>
                            <p><i class="fa fa-map-marker"></i>{$user.city}</p>
                            <h5>用户名:</h5><p> {$user.name}</p>
                             </div>
                    </div>
                </div>
                             </div>
                             <br>
                            <div class="col-sm-8">
                             <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        我的资料
                                    </div>
                                    <div class="panel-body">
                                        <p><table class="table">
                              <tbody>
                              <tr>
                                  <td>姓名：{$user.name}</td>
                                  <td>性别：{$user.sex}</td>
                              </tr>

                              <tr>
                              <td>生日：{$user.birth}</td>
                               <td>住址：{$user.city}</td>
                              </tr>
                              <tr>
                              <td>电话：{$user.phone}</td>
                               <td>邮箱：{$user.mail}</td>
                              </tr>
                              <tr>
                              <td>QQ：{$user.qq}</td>
                              </tr>

                              </tbody>
                          </table>
                          <h5>如果你想修改资料可以点击下面的按钮！</h5>
                          <a href="edit" class="btn btn-block btn-outline btn-primary">前往修改</a></button></p>
                                    </div>
                                </div>

                 </div>


		   {include file='home/base/footer' /}