<!DOCTYPE html>
<html>
<head>
<title>登录</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- //web font -->
</head>
<body>
	<!-- main -->
	<div class="main"> 
		<h1>登录</h1>
		<div class="login-form"> 
			<h2>{$name}欢迎你</h2>
			<form action="?act=type" method="post">
			    <div class="agileits-top">

					<input type="hidden" name="do" value="login"/>
		            <input type="hidden" name="type" value="1"/>
					<div class="styled-input">
						<input type="text" name="name" required=""/>
						<label>用户名</label>
						<span></span>
					</div>
					<div class="styled-input">
						<input type="password" name="password" required="">
						<label>密码</label>
						<span></span>
					</div> 
					<div class="wthree-text"> 
						<ul> 
							<li>
								<input type="checkbox" id="brand" value="1" name="jzw">
								<label for="brand"><span></span> 记住我</label>  
							</li>
							<li> <a href="register">注册账号</a> </li>
						</ul>
						<div class="clear"> </div>
					</div>  
			
			</div>
				<div class="agileits-bottom">
				<input type="submit" value="登录" name="submit">
			    </div>
			</form>
		</div>	
	</div>	
	<!-- //main -->
	<!-- copyright -->
	<div class="copyright">
		<p>Copyright &copy; {$copy}</p>
	</div>
	<!-- //copyright -->
</body>
</html>