{include file='home/base/header' /}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>交友中心</h2>
        <ol class="breadcrumb">
            <li><a href="/home">主页</a>
            </li>
            <li><strong>交友中心</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>
<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">

        {volist name='friend' id='friend'}


        <div class="col-md-4">
            <div class="widget-head-color-box navy-bg p-lg text-center">
                <img src="http://q1.qlogo.cn/g?b=qq&nk={$friend.qq}&s=160" class="img-circle circle-border m-b-md"
                     alt="QQ:{$friend.qq}的头像">
                <div>
                    <span>用户：{$friend.name}</span>
                </div>
            </div>
            <div class="ibox-content profile-content">
                <p>
                <p>注册时间：{$friend.regtime}</p>
                <p>上次登录：{$friend.lasttime}</p>
                <h5>
                    <hr/>
                </h5>
                <p>
                    <a class="btn btn-primary btn-rounded btn-block"
                       href="http://wpa.qq.com/msgrd?v=1&uin={$friend.qq}&site=houdao.com&menu=yes">添加Ta为好友</a>
                    <a class="btn btn-success btn-rounded btn-block" href="user_data?Id={$friend.Id}">查看完整资料</a>
                </p>
            </div>
        </div>


        {/volist}

        <div class="text-center">
            {$page}
        </div>

        </section>
        </section>


        {include file='home/base/footer' /}