{include file='home/base/header' /}
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>自定义响应式表格</h5>
            </div>
            <div class="ibox-content">
                <div class="row">

                    <div class="col-sm-3">
                        <div class="alert alert-success">
                            你的授权码为<div style="color: red"> {$user.code}</div>请先安装，再在此页管理你的网站
                        </div>
                        <div class="input-group">
                            <input type="text" placeholder="请输入关键词" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> 搜索</button> </span>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>

                            <th>Id</th>
                            <th>站长uid</th>
                            <th>域名</th>
                            <th>识别码</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {volist name='url' id='url'}
                        <tr>
                            <td>{$url.Id}</td>
                            <td>{$url.uid}</td>
                            <td>{$url.domain}</td>
                            <td>{$url.identity_code}</td>
                            <td><button class="btn btn-w-m btn-warning">管理</button> </a>
                            </td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
{include file='home/base/footer' /}